<div qv-extension style="height: 100%; position: relative; overflow: auto;">
	<table>
		<thead>
		<tr>
			<th ng-repeat="head in table.headers track by $index" ng-click="head.orderBy()">{{head.qFallbackTitle}}</th>
		</tr>
		</thead>
		<tbody>
		<tr ng-repeat="row in table.rows track by $index">
			<td ng-repeat="cell in row.cells track by $index" class="selectable" ng-class="{'selected':cell.selected,'numeric':cell.qNum}" ng-click="cell.select($event)">{{cell.qText}}</td>
		</tr>
		</tbody>
	</table>
	<button ng-if="table.rowCount>table.rows.length" ng-click="table.getMoreData()" class="lui-button more">More...</button>
</div>
