.qv-object-com-qliktech-horizlist .qv-object-content {
	overflow: auto;
}
.qv-object-com-qliktech-horizlist ul {
	list-style: none;
}
.qv-object-com-qliktech-horizlist li.data {
	display: inline-block;
	margin: 3px;
	padding: 4px;
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #111;
	border-right: 1px solid #111;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
/* frequency */
.qv-object-com-qliktech-horizlist li.data span {
	padding-left: 10px;
	font-style: italic;
	float:right;
}
/* colors when NOT in selection mode*/
.qv-object-com-qliktech-horizlist li.stateS, .qv-object-com-qliktech-horizlist li.stateL {
	background-image: linear-gradient(top, #52cc52, #4dc04d);
	background-image: -o-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -moz-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -webkit-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -ms-linear-gradient(top, #52cc52, #4dc04d);
	color: #fff;
}

.qv-object-com-qliktech-horizlist li.stateX, .qv-object-com-qliktech-horizlist li.stateXL, .qv-object-com-qliktech-horizlist li.stateXS {
	background-color: #A9A9A9;
	color: #fff;
}

/* colors when in selection mode*/
.qv-object-com-qliktech-horizlist li.stateA, .qv-object-com-qliktech-horizlist.qv-selections-active li {
	background-image: none;
	background-color: #ddd;
	color: #000;
}
.qv-object-com-qliktech-horizlist.qv-object-com-qliktech-horizlist li.selected {
	background-image: linear-gradient(top, #52cc52, #4dc04d);
	background-image: -o-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -moz-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -webkit-linear-gradient(top, #52cc52, #4dc04d);
	background-image: -ms-linear-gradient(top, #52cc52, #4dc04d);
	color: #fff;
}
